img { 
    border:1px solid white;
    background-color: antiquewhite ;
}
.prix{ 
    text-align: center;

}

.prix span { 
    color: red;
    margin-left: 15px;

}


.produit p:not(.prix)  { 
    height: 200px;
    overflow: scroll;
    text-align: center;
}
.produit h5  { 
    min-height: 50px;
}
h5 {
    text-align: center;
    background-color: #4c865a;
    box-shadow: 2px 2px 2px #03641a;
    font-size: medium;
}
footer.produit{
    border: top 30px; 
    
}
h2{
    color: red;
}
h4{ 
    text-align: center;

}
h2{ 
    text-align: center;

}
footer{ 
    display: flex;
    justify-content: space-between;

}
footer div{
    display: flex;
    align-items: center;
}





