body {
    background-image: url(../image/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    
    
}

div {
    color: black;
}

h2 {
    text-align: center;
    color: chartreuse;
    font-family: 'Lobster', cursive;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    color: black;
}

.form-nom-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

p {
    color: #0D1C0D;
    text-align: center;
}

nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
}

#menu-accordeon {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    width: 180px;
}

#menu-accordeon ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

#menu-accordeon li {
    background-color:#4C865A;
    background-image: -webkit-linear-gradient(top, #4C865A 0%, #333A40 100%);
    background-image: linear-gradient(to bottom, #4C865A 0%, #333A40 100%);
    border-radius: 6px;
    margin-bottom: 2px;
    box-shadow: 3px 3px 3px #4C865A;
    border: solid 1px #4C865A
}

#menu-accordeon li li {
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
    border-radius: 0;
    background: #444;
    box-shadow: none;
    border: none;
    margin: 0
}

#menu-accordeon a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: verdana;
    font-size: 1.2em
}

#menu-accordeon ul li a,
#menu-accordeon li:hover li a {
    font-size: 1em
}

#menu-accordeon li:hover {
    background: #4C865A
}

#menu-accordeon li li:hover {
    background: #999;
}

#menu-accordeon ul li:last-child {
    border-radius: 0 0 6px 6px;
    border: none;
}

#menu-accordeon li:hover li {
    max-height: 15em;
}

.lien-icone{
    margin-top: 30px;
    margin-bottom: -60px;
}

.container{
    grid-template-columns: repeat(2, 1fr);
    text-align: justify;
    border: 1px solid black;
    padding-right: -100px;
    padding-left: -100px;
    padding-bottom: 0px;
    margin-top: 65px;
    margin-bottom: 0px;
    border-radius: 20px;
    border-right: -100px;
    border-left: -200px;
}

input{
    margin-right: 340px;
    margin-left: 25px;
    margin-bottom: 20px;
    padding-left: 250px;
    padding-bottom: 10px;
    
}

label{
    padding-left: 330px;
}

.continuer{
    padding: 10px;
    padding-left: 117px;
    padding-right: 117px;
    background-color: #4C865A;
    ;
}

p{
    text-align: center;
    margin-left: 40px;
    margin-right: 300px;
    padding-bottom: 100px;
    margin-bottom: -80px;
    padding-right: 50px;
    
}

.aide{
    padding: 10px;
    padding-left: 85px;
    padding-right: 85px;
    margin-left: 0px;
    background-color: #4C865A;
    border-radius: 50px;
}

.création{
    padding: 10px;
    padding-left: 65px;
    padding-right: 70px;
    margin-left: 0px;
    background-color: #4C865A;
    padding-top: -50px;
    align-items: center;
}

.new{
    padding-right: 30px;
}

.liensbasdepage{
    text-align: center;
    padding: 10px;
    padding-left: 65px;
    padding-right: 70px;
    margin-left: -300px;
    padding-top: -50px;
    align-items: center;
    
}

.liens{
    padding: 10px;
    padding-left: 100px;
    padding-right: 85px;
    margin-left: -58px;
    background-color: #4C865A;
    border-radius: 50px;
}
.imagelegal {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
