@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
        }
div{
    text-align: center;
}
.imagelegal {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color:#4C865A; 
    color: #fff; 
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    border-radius: 50%;
    z-index: 9999;
}

#back-to-top:hover {
    background-color: #4C865A; 
}
