body {
    background-image: url(../image/3.jpg);
    background-repeat: no-repeat;
background-size: cover;


}

h1 {
    text-align: center;
    color: black;
}

div {
    color: black;
}
h2{
text-align: center;
color: chartreuse;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    color: black;
}

.form-nom-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
p{
    color:#0D1C0D;
    text-align: center;
}
